<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title>Approve Deployment</title>

    <!-- Web Font / @font-face : BEGIN -->
    <!-- NOTE: If web fonts are not required, lines 10 - 27 can be safely removed. -->

    <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
    <!--[if mso]>
 
    <style>
        * {
          font-family: 'Lato' !important;
        }
    </style>
    
    <![endif]-->

    <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
    <!--[if !mso]><!-->
        <!-- insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
    <!--<![endif]-->

    <!-- Web Font / @font-face : END -->
    <link rel="stylesheet" type="text/css" href="style.css">
        <!-- CSS Reset -->
    <!--[if !mso]><!-->
    <style type="text/css">
      @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: url('https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Lato-Regular.eot');
        src: url('https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Lato-Regular.ttf') format('truetype'), url('https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Lato-Regular.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Lato-Regular.woff2') format('woff2');
        /*unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;*/
      }
      /* latin */
      /*@font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'),url('https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Lato-Regular.eot?#iefix') format('eot'),url('https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Lato-Regular.ttf') format('ttf'), url('https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Lato-Regular.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Lato-Regular.woff2') format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
      }*/
      article, a, div{
        font-family: 'Lato', arial !important;
      }

    </style>
    <!--<![endif]-->

</head>
<body style="margin: 0; mso-line-height-rule: exactly;">
  <div class="wrapper clearfix">
    <div class="container">
      <header class="mr-header">
        <article class="clearfix">
          <div class="clearfix logo-wrp"><!-- <img class="logo" src="tmobile.png"> -->
          <img class="logo" src="https://s3-us-west-2.amazonaws.com/asgc-email-templates/welcome/assets/jazz-logo.png">
          </div>
        </article>
      </header>
      <article class="contents clearfix">
        <div class="approve common">
          <div style="max-height:0;width:100%;overflow: visible;">
            <img class="dottedimg" height="60px" src="https://s3-us-west-2.amazonaws.com/asgc-email-templates/reset/assets/Pattern-Header-01%401x.png.png" width="60%">
          </div>
          {{heading}}
        </div>
        <div class="user common">
          Hello {{name.first}},
        </div>
        <div class="message common">
          {{{message}}}
        </div>
        {{#if details}}
        <div class="details common">{{{details}}}</div>
        {{/if}}
        {{#if linkexpire}}
        <div class="linkexpire common">
          {{linkexpire}}
        </div>
        {{/if}}
        {{#if link.length}}
        <div style=" margin:auto; display: block; text-align: center;" class="button-wrp">
          {{#each link}} <a class="buttonclick {{text}}" href="{{url}}">{{text}}</a> {{/each}}
        </div>
        {{/if}}
      </article>
    </div>
    <footer class="mr-footer">
      <div class="footer-link-wrapper">
        <a class="footer-link" href="http://jazz.corporate.t-mobile.com" target="_blank">Jazz</a> <a class="footer-link" href="https://tmobile.atlassian.net/wiki/spaces/CAPI/pages/218171156/Getting+Started+with+Service+Development+using+Jazz" target="_blank">Docs</a>
      </div>
    </footer>
  </div>
</body>
</html>
